<div class="container mt-5">

  <div class="row">

    <div class="col-8">
      <div class="card">
        <div class="card-header">
          <h3>Employee List ddd</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 mb-3">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Email Id</th>
                    <th>Contact Nummber</th>
                    <th>Pin Code</th>
                    <th>Address</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let employee of employeeList">
                    <td>{{ employee.empId }}</td>
                    <td>{{ employee.name }}</td> 
                    <td>{{ employee.city }}</td>
                    <td>{{ employee.state }}</td>
                    <td>{{ employee.emailId }}</td>
                    <td>{{ employee.contactNumber }}</td>
                    <td>{{ employee.pinCode }}</td>
                    <td>{{ employee.address }}</td>
                  </tr>
              </table>
            </div>
          </div>
        </div>
    </div>
  
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header">
        <h3>New Employee</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="employeeForm" (ngSubmit)="addEmployee()">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" formControlName="name" [(ngModel)]="newEmployee.name" name="name" required>
          </div>
          <div class="mb-3">
            <label for="city" class="form-label">City</label>
            <input type="text" class="form-control" id="city" formControlName="city"  [(ngModel)]="newEmployee.city" name="city" required>
          </div>
          <div class="mb-3">
            <label for="state" class="form-label">State</label>
            <input type="text" class="form-control" id="state" formControlName="state"  [(ngModel)]="newEmployee.state" name="state" required>
          </div>
          <div class="mb-3">
            <label for="emailId" class="form-label">Email Id</label>
            <input type="email" class="form-control" id="emailId" formControlName="emailId"  [(ngModel)]="newEmployee.emailId" name="emailId" required>
          </div>
          <div class="mb-3">
            <label for="contactNumber" class="form-label">Contact Number</label>
            <input type="text" class="form-control" id="contactNumber" formControlName="contactNumber"  [(ngModel)]="newEmployee.contactNumber" name="contactNumber" required>
          </div>
          <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <textarea class="form-control" id="address" formControlName="address"  [(ngModel)]="newEmployee.address" name="address"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Reset</button>
          <button type="submit" class="btn btn-primary" (click)="onSave()">Add Employee</button>
        </form>
      </div>
  </div>

</div>
</div>